<AuthorizeView Policy="Admin">

	<li>
		<a class="nav-link text-secondary" href="Admin"><span class="oi oi-badge">&nbsp;Admin</span></a>
	</li>

	<li>
		<a class="nav-link text-secondary" href="Edit"><span class="bi-pencil-square">&nbsp;Edit</span></a>
	</li>

</AuthorizeView>