<AuthorizeView>

	<Authorized>

		<li>
			<a class="nav-link text-secondary" href="create"><span class="bi-brush-fill">&nbsp;Create</span></a>
		</li>
		<li>
			<a class="nav-link text-secondary" href="Profile"><span class="oi oi-book">&nbsp;Profile</span></a>
		</li>

	</Authorized>

</AuthorizeView>
