<AuthorizeView>

	<Authorized>

		<li>
			<a class="nav-link text-secondary" href="MicrosoftIdentity/Account/SignOut"><span class="bi-box-arrow-left">&nbsp;Logout</span></a>
		</li>

	</Authorized>

	<NotAuthorized>

		<li>
			<a class="nav-link text-secondary" href="MicrosoftIdentity/Account/SignIn"><span class="bi-box-arrow-in-right">&nbsp;Login</span></a>
		</li>

	</NotAuthorized>

</AuthorizeView>