<header class="fixed-top container d-flex justify-content-between bg-light shadow">
	<a class="navbar-brand d-flex align-items-center" href="#">
		<img src="images/icon-192.png" height="20" class="d-inline-block align-top" alt="">
		<h5 class="m-0 ms-2">Blazor Blog</h5>
	</a>
	<ul class="nav me-2 align-items-center">
		<li>
			<a class="nav-link text-secondary" href="#"><span class="bi-house-fill">&nbsp;Home</span></a>
		</li>
		<NavAuthorized />
		<NavAdmin />
		<NavLogin />
	</ul>
</header>
