@page "/SampleData"

@inject IBlogPostData BlogPostData
@inject IUserData UserData

<h3>Sample Data</h3>

@if (_usersCreated)
{
	<h4>Users have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateUsers">Create User Data</button>
}

@if (_blogsCreated)
{
	<h4>Blog Posts have been created</h4>
}
else
{
	<button class="btn btn-primary" @onclick="CreateBlogPosts">Create Blog Post Data</button>
}


